@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --transition: all 300ms ease-out;
}

body {
  cursor: url('/public/cursor.png');
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
  transition: var(--transition);
}

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 24px;
  background-color: grey;
}

h1, h2, h2, h4, form, form>*{
  transition: var(--transition) !important;
}

input,
textarea{
  width: 100%;
  outline: 0;
}

input:focus-visible,
textarea:focus-visible {
  border-color: blue;
}

label {
  display: block;
}

#report_photo {
  width: auto;
  cursor: url(/public/cursor.png);
}

img {
  object-fit: cover;
}

.sidebar {
  height: 35rem;
}